@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: calc(100% - 25px);
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    /*-webkit-transform: translate(0, -50%);*/
    /*-ms-transform: translate(0, -50%);*/
    /*transform: translate(0, -50%);*/

    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 5px;
    z-index: 10;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: 5px;
    z-index: 10;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);

    display: block;

    /*width: 100%;*/
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: white;
    margin: 20px 0;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    background-color: #FFFFFF;
}

.slick-dots li button:before {

    font-size: 6px;
    line-height: 20px;
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: transparent;
    border: solid #FFFFFF 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    background-color: #FFFFFF;
}

.tarifario-item.slick-slide {
    padding-right: 300px;
}

.tarifario-items .slick-dots {
    position: absolute;
    top: 50%;
    right: 0px;
    /* transform: translate(0, -50%); */
    display: block;
    /* padding: 0; */
    /* margin: 0; */
    list-style: none;
    /* text-align: center; */

}

.tarifario-items .slick-dots li {
    position: relative;
    display: block;
    width: 160px;
    height: initial;
    margin: 0px;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    background: dimgray;
}

.tarifario-items .slick-dots li button {
    font-size: 20px;
    line-height: 20px;
    display: block;
    width: 100%;
    height: initial;
    padding: 15px;
    cursor: pointer;
    color: white;
    margin: 1px 0;
    border: 0;
    outline: none;
    background: transparent;
}

.tarifario-items .slick-dots li {
    background: white;
    color: #999999;
    border-right: 3px solid slategray;
    transition: 0.3s;
}

@media (max-width: 480px) {

    .tarifario-items {
        height: calc(330px + 51px * 8);
    }

    .tarifario-item.slick-slide {
        padding: 0;
    }

    .tarifario-items .slick-dots {
        position: absolute;
        width: 100%;
        top: 75%;
        right: 0;
        display: block;
        list-style: none;
    }

    .tarifario-items .slick-dots li {
        position: relative;
        display: block;
        width: 100%;
        height: initial;
        margin: 0px;
        padding: 15px;
        text-align: left;
        cursor: pointer;
        background: dimgray;
    }

    .tarifario-items .slick-dots li button {
        font-size: 20px;
        line-height: 20px;
        display: block;
        width: 100%;
        height: initial;
        padding: 15px;
        cursor: pointer;
        color: white;
        margin: 1px 0;
        border: 0;
        outline: none;
        background: transparent;
    }

    .tarifario-items .slick-dots li {
        background: white;
        color: #999999;
        border-right: 3px solid slategray;
        transition: 0.3s;
    }
}

.tarifario-items .slick-dots li:hover, .tarifario-items .slick-dots li.slick-active {
    color: #FFFFFF;
}

.tarifario-items .slick-dots li:nth-child(1) {
    border-right: 6px solid #fbd33b;
}

.tarifario-items .slick-dots li:nth-child(1):hover {
    background: #fbd33b;
}

.tarifario-items .slick-dots li:nth-child(1).slick-active {
    background: #fbd33b;
}

.tarifario-items .slick-dots li:nth-child(2) {
    border-right: 6px solid #8cc63f;
}

.tarifario-items .slick-dots li:nth-child(2):hover {
    background: #8cc63f;
}

.tarifario-items .slick-dots li:nth-child(2).slick-active {
    background: #8cc63f;
}

.tarifario-items .slick-dots li:nth-child(3) {
    border-right: 6px solid #29abe2;
}

.tarifario-items .slick-dots li:nth-child(3):hover {
    background: #29abe2;
}

.tarifario-items .slick-dots li:nth-child(3).slick-active {
    background: #29abe2;
}

.tarifario-items .slick-dots li:nth-child(4) {
    border-right: 6px solid #999999;
}

.tarifario-items .slick-dots li:nth-child(4):hover {
    background: #999999;
}

.tarifario-items .slick-dots li:nth-child(4).slick-active {
    background: #999999;
}

.tarifario-items .slick-dots li:nth-child(5) {
    border-right: 6px solid #7b20e5;
}

.tarifario-items .slick-dots li:nth-child(5):hover {
    background: #7b20e5;
}

.tarifario-items .slick-dots li:nth-child(5).slick-active {
    background: #7b20e5;
}

.tarifario-items .slick-dots li:nth-child(6) {
    border-right: 6px solid #e94650;
}

.tarifario-items .slick-dots li:nth-child(6):hover {
    background: #e94650;
}

.tarifario-items .slick-dots li:nth-child(6).slick-active {
    background: #e94650;
}

.tarifario-items .slick-dots li:nth-child(7) {
    border-right: 6px solid #ff8d00;
}

.tarifario-items .slick-dots li:nth-child(7):hover {
    background: #ff8d00;
}

.tarifario-items .slick-dots li:nth-child(7).slick-active {
    background: #ff8d00;
}

.tarifario-items .slick-dots li:nth-child(8) {
    border-right: 6px solid #0cb4bd;
}

.tarifario-items .slick-dots li:nth-child(8):hover {
    background: #0cb4bd;
}

.tarifario-items .slick-dots li:nth-child(8).slick-active {
    background: #0cb4bd;
}

.tarifario-items .slick-dots li button:before {
    content: none;
}

.tarifario-web-item.slick-slide {
    padding-right: 380px;
}

.tarifario-web-items .slick-dots {
    position: absolute;
    top: 11%;
    right: 0px;
    /* transform: translate(0, -50%); */
    display: block;
    /* padding: 0; */
    /* margin: 0; */
    list-style: none;
    /* text-align: center; */

}

.tarifario-web-items .slick-dots li {
    position: relative;
    display: block;
    width: 180px;
    height: initial;
    margin: 0px;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.tarifario-web-items .slick-dots li button {
    font-size: 20px;
    line-height: 20px;
    display: block;
    width: 100%;
    height: initial;
    padding: 15px;
    cursor: pointer;
    color: white;
    margin: 1px 0;
    border: 0;
    outline: none;
    background: transparent;
}

.tarifario-web-items .slick-dots li {
    background: white;
    color: #999999;
    border-right: 3px solid slategray;
    transition: 0.3s;
}

@media (max-width: 480px) {

    .tarifario-web-items {
        height: calc(1081px + 51px * 5);
    }

    .tarifario-web-item.slick-slide {
        padding:15px;
    }

    .tarifario-web-items .slick-dots {
        position: absolute;
        width: 100%;
        top: 75%;
        right: 0;
        display: block;
        list-style: none;
    }

    .tarifario-web-items .slick-dots li {
        position: relative;
        display: block;
        width: 100%;
        height: initial;
        margin: 0px;
        padding: 15px;
        text-align: left;
        cursor: pointer;
        background: dimgray;
    }

    .tarifario-web-items .slick-dots li button {
        font-size: 20px;
        line-height: 20px;
        display: block;
        width: 100%;
        height: initial;
        padding: 15px;
        cursor: pointer;
        color: white;
        margin: 1px 0;
        border: 0;
        outline: none;
        background: transparent;
    }

    .tarifario-web-items .slick-dots li {
        background: white;
        color: #999999;
        border-right: 3px solid slategray;
        transition: 0.3s;
    }
}

.tarifario-web-items .slick-dots li:hover, .tarifario-web-items .slick-dots li.slick-active {
    color: #FFFFFF;
}

.tarifario-web-items .slick-dots li:nth-child(1) {
    border-right: 6px solid #fbd33b;
}

.tarifario-web-items .slick-dots li:nth-child(1):hover {
    background: #fbd33b;
}

.tarifario-web-items .slick-dots li:nth-child(1).slick-active {
    background: #fbd33b;
}

.tarifario-web-items .slick-dots li:nth-child(2) {
    border-right: 6px solid #f11b6b;
}

.tarifario-web-items .slick-dots li:nth-child(2):hover {
    background: #f11b6b;
}

.tarifario-web-items .slick-dots li:nth-child(2).slick-active {
    background: #f11b6b;
}

.tarifario-web-items .slick-dots li:nth-child(3) {
    border-right: 6px solid #29abe2;
}

.tarifario-web-items .slick-dots li:nth-child(3):hover {
    background: #29abe2;
}

.tarifario-web-items .slick-dots li:nth-child(3).slick-active {
    background: #29abe2;
}

.tarifario-web-items .slick-dots li:nth-child(4) {
    border-right: 6px solid #7b20e5;
}

.tarifario-web-items .slick-dots li:nth-child(4):hover {
    background: #7b20e5;
}

.tarifario-web-items .slick-dots li:nth-child(4).slick-active {
    background: #7b20e5;
}

.tarifario-web-items .slick-dots li:nth-child(5) {
    border-right: 6px solid #8cc63f;
}

.tarifario-web-items .slick-dots li:nth-child(5):hover {
    background: #8cc63f;
}

.tarifario-web-items .slick-dots li:nth-child(5).slick-active {
    background: #8cc63f;
}

.tarifario-web-items .slick-dots li button:before {
    content: none;
}